header {
	font-family: 'lane_-_narrowregular', Arial, sans-serif;
	float: right;
	width: 100%;
	background-color: #2881A6;
}

li {
	list-style: none;
	margin-top: 1%;
	margin-right: 3%;
	float: right;
}

a {
	color: #ffffff;
	text-decoration: none;
	margin-right: 4%;
}

#logo {
	margin-left: 3%;
	float: left;
}

a:hover {
	font-family: 'lane_-_poshregular', Arial, sans-serif;
}

footer {
	text-align: center;
	padding: 1%;
	background-color: #2881A6;
}