body {
	background-image: url("../images/fondue.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Oswald', sans-serif;
}

h2 {
	font-size: 1.5em;
	font-weight: lighter;
}

hr{
	text-align: center;
	width: 100%;
}

p {
	font-family: 'Bookman Old Style', serif;
	text-align: justify;
	line-height: 1.3em;
	font-size: 95%;
	text-align: center;
}

#wrapper{
	color: #ffffff;
	width: 37%;
	text-align: center;
	padding: 15% 15% 15% 55%;
}