header {
	background-color: red;
}

nav {
	font-family: 'lane_-_narrowregular', Arial, sans-serif;
}

#logo {
	float: left;
}

li {
	list-style: none;
	float: right;
	color: #2881A6;
}

a:hover {
	font-family: 'lane_-_poshregular', Arial, sans-serif;
}

#wrapper {
	font-family: 'lane_-_narrowregular', Arial, sans-serif;
	text-align: center;
	color: #8D8D8A;
	border-style: solid #8D8D8A;
	font-size: 1.5em;
}

span {
	font-family: 'lane_-_poshregular', Arial, sans-serif;
}

h2 #wrapper {
	font-size: 200%;
}

footer {
	color: #8D8D8A;
	background-color: red;
	float: right;
	padding: 2%;
	font-family: 'lane_-_narrowregular', Arial, sans-serif;
}

