header {
	font-family: 'lane_-_narrowregular', Arial, sans-serif;
	float: right;
	width: 100%;
}

li {
	list-style: none;
	margin-top: .5em;
	margin-right: 3em;
	float: right;
}

a {
	color: #ffffff;
	text-decoration: none;
	margin-right: 4%;
}

a:hover {
	font-family: 'lane_-_poshregular', Arial, sans-serif;
}

body {
	background-color: #2881A6;
}

p {
	margin-top: 3em;
	margin-bottom: 2em;
	text-align: center;
}

footer {
	text-align: center;
	padding: 1em;
}

@media only screen and (max-width: 480px) {
	#wrapper {
		float: none;
		width: 95%;
	}

	img #wrapper {
		float: ;
		padding: ;
		width: 90%;
		height: 90%;
	}

	img footer {
		width: 40%;
		height: 40%;
	}
}

