nav {
	background-color: #ffffff;
	font-family: 'lane_-_narrowregular', Arial, sans-serif;
	text-align: right;
	margin-right: 5%;
	display: block;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	border: 0;
}

a {
	background-color: #ffffff;
	color: #2881A6;
	text-decoration: none;
	display: inline;
	margin-right: 4%;
}

#logo {
	margin-left: 3%;
	float: left;
}

header {
	text-align: center;
	color: #8d8d8a;
	font-family: 'lane_-_poshregular', Arial, sans-serif;
	font-size: 175%;
}

a:hover {
	font-family: 'lane_-_poshregular', Arial, sans-serif;
}

h1 {
	
}

h2 {

}

h3 {

}

/*.verticalLine {
	border-right: solid #8d8d8a;
}*/

.column {
	color: #8D8D8A;
	width: 43%;
	display: inline-block;
	margin: 3%;
	font-family: 'lane_-_narrowregular', Arial, sans-serif;
}

#column1 {
	text-align: right;
}

#column2 {
	text-align: left;
}

footer {

}