body {
	background-image: url("..//images/stripes.png"), url("../images/background.jpg");
	background-repeat: repeat-x;
	/*	background-repeat-x: repeat;*/
	margin: 0px 0px 0px 0px;
}

h1 {
	position: fixed;
	top: 100px;
	left: 50px;
}

hr {
	width: 50px;
	position: fixed;
	top: 225px;
	left: 50px;
	border: 1px solid #fd6e6e;
}

p {
	font-family: 'Arial', sans-serif;
	font-size: 16px;
	color: #ffffff;
	position: fixed;
	top: 275px;
	left: 50px;	
}

#appstore {
	position: fixed;
	top: 375px;
	left: 50px;
}